// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Red Pitaya Board";
	compatible = "xlnx,zynq-red-pitaya", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		mmc0 = &sdhci0;
		i2c0 = &i2c0;
		//spi0 = &qspi;
		nvmem0 = &eeprom;
		//rtc0 = &rtc;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	eeprom: eeprom@50 {
		compatible = "24c64";
		reg = <0x50>;
	};
};

&sdhci0 {
	bootph-all;
	status = "okay";
};

&uart0 {
	bootph-all;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

//&qspi {
//	status = "okay";
//	num-cs = <1>;
//	flash@0 {
//		compatible = "micron,m25p128";
//		reg = <0x0>;
//		spi-tx-bus-width = <4>;
//		spi-rx-bus-width = <4>;
//		spi-max-frequency = <50000000>;
//	};
//};
